



html {
    height: 100%;
    --color-text: #DCDDDE;
    --color-text-60: rgba(220, 221, 222, .6);
    --color-shadow: rgba(0,0,0,.6)
}

body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#393939, #5e5e5e);
}

/* component */

.login-box {
    font-size: 20px;
    position: absolute;

    display: flex;
    flex-direction: column;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 20em;
    padding: 2em;

    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px var(--color-shadow);
    border-radius: .5em;
}

.login-box > h2 {
    margin: 0 0 1.2em 0;
    padding: 0;
    color: var(--color-text);
    opacity: .9;
    text-align: center;
    font-size: 1.5em;
}

.login-box > form {
    display: flex;
    flex-direction: column;
}


.login-box > form > .line {
    position: relative;
}

.login-box > form > .line > input {
    width: 100%;
    padding: .5em 0;
    font-size: 1em;
    color: var(--color-text);
    margin-bottom: 1.2em;
    border: none;
    border-bottom: 1px solid var(--color-text-60);
    outline: none;
    background: transparent;
}

.login-box > form > .line > label {
    position: absolute;
    top:0;
    left: 0;
    padding: .5em 0;
    font-size: .8em;
    color: var(--color-text);
    pointer-events: none;
    transition: .5s;
}

.login-box > form > .line > input:focus ~ label,
.login-box > form > .line > input:valid ~ label {
    top: -1.2em;
    left: 0;
    font-size: .6em;
    opacity: .6;
}

.login-box > form > a {
    font-size: .8em;
    padding: .5em 1em;
    border-radius: calc(.5em * 2 + .8em);

    color: #b79726;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 2.25em;
    letter-spacing: 4px;
    align-self: center;
}

.login-box > form > a:hover {
    background: #f49803;
    color: rgba(0,0,0,.5);
    box-shadow: 0 0 .25em #f4c803,
                0 0 .5em #bd9d0b,
                0 0 .75em #f4e403,
                0 0 1em #d5cf1e;
}
